.vscode/
.env/
__pycache__/
__data__/
model.ckpt*
checkpoint
train/

.env/
.vscode/
.DS_Store
__pycache__/

*.model
*.pkl

reports/*.aux
reports/*.log
reports/*.synctex.gz

project-report/*.aux
project-report/*.log
project-report/*.synctex.gz

cheatsheet/*.aux
cheatsheet/*.log
cheatsheet/*.synctex.gz
